html {
    background-image: url(https://i.pinimg.com/originals/ca/4f/1a/ca4f1a1719fe9156bf9b11779e31a457.jpg);
    background-size: 100%;
}

body {
    background-color: white;
    border: 20px solid #bdc3c7;
    max-width: 700px;
    width: 80%;
    margin: 20px auto;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    padding: 20px;
}

.date {
    color: #3498db;
    text-transform: uppercase;
    letter-spacing: 0.2rem;

}

h2 {
    color: #2c3e50;
    font-size: 2rem;
    font-weight: bolder;
}

h2+p {
    border-left: 5px solid #bdc3c7;
    padding: 0 5px;
}

hr {
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, #f0f0f0, #c7c6c6, #f0f0f0);
    background-image: -moz-linear-gradient(left, #f0f0f0, #c7c6c6, #f0f0f0);
    background-image: -ms-linear-gradient(left, #f0f0f0, #c7c6c6, #f0f0f0);
    background-image: -o-linear-gradient(left, #f0f0f0, #c7c6c6, #f0f0f0);
}

.post {
    margin-bottom: 20px;
}

/* date color:#3498db
   border color: #bdc3c7
   h2 color: #2c3e50
   font: source sans pro */