<h1>SIGN UP FORM</h1>

<form action="/register" method="POST">
    <input type="text" name="username" placeholder="Username">
    <input type="password" name="password" placeholder="Password">
    <button>Submit</button>
</form>

<li><a href="/">Home</a></li>
<li><a href="/login">Log In</a></li>
<li><a href="/logout">Log Out</a></li>